.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-sm);
    background-color: var(--color-md);
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-sm);
    font-weight: bold;
    cursor: pointer;
}